
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$md-toisres: (
    50 : #f1e4e4,
    100 : #ddbcbc,
    200 : #c68f90,
    300 : #af6264,
    400 : #9d4042,
    500 : #8c1e21,
    600 : #841a1d,
    700 : #791618,
    800 : #6f1214,
    900 : #5c0a0b,
    A100 : #ff9091,
    A200 : #ff5d5f,
    A400 : #ff2a2d,
    A700 : #ff1014,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$tois-primary: mat-palette($md-toisres);
$tois-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tois-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tois-theme: mat-light-theme($tois-primary, $tois-accent, $tois-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tois-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
}